body {
  margin: 0 auto;
  width: 1440px;
  font-weight: normal;
  font-size: 18px;
}

/* Шапка */
/* TODO: Доделать выравнивание */

.header {
  padding: 92px 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 109px;
  grid-template-areas: 
  "menu logo address";
  justify-content: space-between;
  justify-items: center;
  align-items: start;
}

.header__menu {
  grid-area: menu;
  align-self: center;
  justify-self: start;
}

.header__links-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  text-underline-offset: 5px;
}

.header__links-list-item__no-bullit {
  list-style-type: none;
}

.header__link-active {
  text-decoration: none;
}

.header__logo-image {
  grid-area: logo;
  width: 137px;
}

.address {
  font-style: normal;
  line-height: 135%;
  text-underline-offset: 5px;
}

.header__address {
  grid-area: address;
  justify-self: end;
  align-self: start;
}

/* Картинка */

.cover {
  padding: 165px 50px 50px;
  border-image: url(../images/cover.jpg);
}